@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbars::-webkit-scrollbar{
        display: none;
    }
    .scrollbar{
        -ms-overflow-style: none;
    }
    .mybg{
        background-color: #0F1D2B
    }
    .x15{
        left: 50%;
        transform: translate(-50%,-50%);
        top: -50%;
    }
    .widthpx{
        width: 500px;
    }
    .widthrem{
        width: 75rem;
    }
    .arrow{
        width: 0;
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #fff;
    }
    .arrow10{
        width: 0;
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
    }
    @media (max-width: 640px){
        .overflow-scrollbars::-webkit-scrollbar{
            display: none;
        }
        .overflow-scrollbar{
            -ms-overflow-style: none;
        }
    }
  }